.times {
    margin: 3rem auto;
    text-align: center;
}

.times__text {
    margin: 1rem 0;
    color: #212529;
}

.times__text-total {
    font-size: 1.1rem;
    font-weight: bold;
    color: #212529;
    display: flex;
    justify-content: space-evenly;
}

.times__separator {
    margin: .5rem 0;
    height: 1px;
    background-color: #787878b8;
}

.times__button {
    text-align: center;
    background-color: transparent;
    border: 0 solid transparent;
    color: #007bff;
    cursor: pointer;
}

.times__button:hover, .times__button:focus {
    color: #0069d9;
    text-decoration: underline;
    box-shadow: none;
}
