<div class="container">

  <nav class="title">CALCULAR JORNADA DE TRABALHO</nav>

  <div class="main">

    <form [formGroup]="timeForm" (ngSubmit)="calculatePeriod()">

      <div class="form-group">
        <label for="start" class="form-group__label">Início</label>
        <input class="form-group__input"
               type="time"
               id="start"
               formControlName="start">
      </div>

      <div class="form-group">
        <label for="end" class="form-group__label">Fim</label>
        <input class="form-group__input"
               type="time"
               id="end"
               formControlName="end">
      </div>

      <div class="form-group">
        <button type="submit" class="form-group__button">Calcular</button>
      </div>

    </form>

    <div class="times">

      <ng-container *ngIf="periods?.length > 0; else noResultes">
        <p class="times__p" *ngFor="let period of periods">
          {{period.start | date: 'HH:mm'}}
          às
          {{period.end | date: 'HH:mm'}}
          =
          {{period.result | date: 'HH:mm'}}
        </p>
      </ng-container>

      <ng-template #noResultes>
        <p class="times__p">00:00 às 00:00 = 00:00</p>
        <p class="times__p">00:00 às 00:00 = 00:00</p>
      </ng-template>

      <hr class="times__separator">

      <p class="times__p--total">
        Total: {{totalHours ? (totalHours | date: 'HH:mm') : '00:00'}} horas
      </p>

    </div>

  </div>

</div>



